<%- include("./public/page_header.html")%>

	<body id="ios">

		<%- include("./public/page_nav.html")%>

		<div id="fh5co-press" data-section="press">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cat_title">
							<div class="wrapper">
								<div class="to-animate">
									<h2>展会服务</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="/default/images/img2-2.jpg" alt="" />
					</div>
					<div class="col-md-6">
						<dl class="c_right">
							<dd>2022北京车展将以“智领未来”为主题，集中展示中外汽车行业当下前沿的技术与产品，聚焦智能网联、轻量化等新技术与传统汽车工业结合所带来的创新展品，多角度向观众呈现全球汽车行业在产品升级、品牌升级、产业升级和出行模式等多方面的创新理念和成果。引导人们对未来汽车生活的美好向往和追求。
							</dd>
							<dd>
								传真: (8610)50911011
							</dd>
							<dd>
								电话: (8610)50911041
							</dd>
						</dl>
					</div>
				</div>

			</div>
		</div>
		<hr>
		<%- include("./public/page_footer.html")%>
		<script type="text/javascript" src="/default/js/jquery.min.js"></script>
		<script type="text/javascript" src="/default/js/bootstrap.min.js"></script>
	</body>

</html>