<%- include("./public/page_header.html")%>

	<body id="ios">

		<%- include("./public/page_nav.html")%>
		<div id="fh5co-press" data-section="testimonials">
			<div class="container">
				<section id="newslist">
					<div class="cat_title">
						<div class="wrapper">
							<div class="to-animate">
								<h2>新闻中心NEWS</h2>
								<hr>
							</div>
						</div>
					</div>								
					<div class="container">
						<ul class="news">
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_158.html">
													关于2022(第十六届)北京国际汽车展览会对部分道路采取交通管制的通告 </a>

												<span>2022-09-24</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]为保证“车展”期间道路交通安全与畅通，依据《中华人民共和国道路交通安全法》、《北京市实施
													<中华人民共和国道路交通安全法>办法》有关规定，车展期间将对“新国展”地区及相关道路分时、分段采取临时交通管制措施。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_157.html">
													2022（第十六届）北京国际汽车展览会即将盛大开幕 </a>

												<span>2022-09-24</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_19.html">展会新闻</a>]2022北京车展将以“智领未来”为主题，总展出面积达到20万平米，将集中展示汽车行业的最新创新成果，以及对未来出行的畅想及战略布局。本届北京车展共展示车辆785台；包括全球首发车82台，其中跨国公司全球首发车14台；概念车36台；新能源车160台 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_156.html">
													见证中国汽车产业跨越式发展——致敬北京车展30年 </a>

												<span>2022-09-24</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_20.html">媒体报道</a>]作为2022年全球唯一的顶级国际车展，第十六届北京国际车展将于9月26日如期而至，“对于中国乃至全球汽车产业的聚焦都有着非同寻常的意义。这是一个在疫情常态下... </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_154.html">
													2022北京车展购票全知道 </a>

												<span>2022-09-23</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]门票购入后，是否可以退票? 小朋友没有身份证是否可以进场观展? </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_153.html">
													2022北京车展防疫指南 </a>

												<span>2022-09-22</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]本届展会为了给展商和观众创造良好和健康的参观环境，主办方高度重视展会现场的疫情防控工作，并对疫情防控工作进行了周密部署，采取了严格的措施，请观众和展商配合 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_152.html">
													2022北京车展媒体日发布时间表 </a>

												<span>2022-09-21</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]2022（第十六届）北京国际汽车展览会（AUTO CHINA 2022）将于2022年9月28日-10月5日在中国国际展览中心（天竺）新馆、中国国际展览中心（静安 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_140.html">
													2022北京车展展位分布图重磅来袭！ </a>

												<span>2022-09-19</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]2022（第十六届）北京国际汽车展览会（AUTO CHINA 2022）将于2022年9月28日-10月5日在中国国际展览中心（天竺）新馆、中国国际展览中心（静安庄）举行。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_128.html">
													2022北京国际汽车展览会参观票 售票公告 </a>

												<span>2022-09-17</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]因疫情防控的需要，参观本届车展的观众全部采用“实名制预约购买、凭参观者身份证实名制入场”的方式。观众需在网上预约购票，凭本人身份证原件入场参观。现场不设售票点。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_121.html">
													2022北京车展媒体注册系统上线通知 </a>

												<span>2022-09-04</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]2022（第十六届）北京国际汽车展览会媒体注册系统已于今日开通，欢迎广大媒体记者登录北京车展的官方网站或关注北京车展的官方微信在媒体通道进行注册。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_124.html">
													2022（第十六届）北京国际汽车展览会 金秋时节在京举行 </a>

												<span>2022-08-19</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_19.html">展会新闻</a>]备受中外汽车行业和社会各界关注的2022（第十六届）北京国际汽车展览会（AUTO CHINA 2022）（简称“2022北京车展”），将于2022年9月26日-10月5日在北京中国国际展览中心新、老馆举行，总展出面积将达到20万平米。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_123.html">
													关于2022（第十六届）北京国际汽车展览会（AUTO CHINA 2022） </a>

												<span>2022-04-03</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_21.html">通知公告</a>]2022（第十六届）北京国际汽车展览会（AUTO CHINA 2022）将延期至2022年9月26日-10月5日在北京中国国际展览中心新、老展馆举行 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_127.html">
													科技为王——从2018北京车展看零部件业发展趋势 </a>

												<span>2018-05-04</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_20.html">媒体报道</a>]本届北京车展上，各大车企纷纷带来了各自的概念车，向外界传递他们对汽车技术未来发展趋势的理解与把握。这些概念车，除了外形炫酷、足够吸睛外，其搭载的先进技术尤其值得关注，或许其商业化应用也并非那么遥远。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_125.html">
													2018北京车展圆满闭幕 </a>

												<span>2018-05-04</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_19.html">展会新闻</a>]本届北京车展总展出面积达到22万平米，共吸引了来自全球14个国家和地区的1200多家参展商。展会共展示车辆1022辆、全球首发车105辆 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text">
									<div class="to-animate">
										<li>
											<div class="newslist">
												<a href="/autochina2022/index.php?s=/articles_126.html">
													四大判断！德国汽车教父独家解析中国汽车业前景 </a>

												<span>2018-05-03</span>
												<p>[
													<a href="/autochina2022/index.php?s=/lists_20.html">媒体报道</a>]4月29日至5月4日举行的北京国际汽车展览会是目前世界上规模最大也最重要的汽车展览盛会。对于所有的汽车制造商来说，北京国际汽车展览会绝对是不能错过的汽车展会。 </p>
											</div>
										</li>
									</div>
								</div>
							</div>
						</ul>
				</section>
            </div>
        </div>
			<hr>
			<%- include("./public/page_footer.html")%>
    </body>
</html>