<%- include("./public/page_header.html")%>

	<body id="ios">

		<%- include("./public/page_nav.html")%>
		<div id="fh5co-press" data-section="press">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="single-animate animate-press-1">2022（第十六届）北京国际汽车展览会</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2"><img src="/default/images/zhi.png">
							</div>
						</div>
					</div>
				</div>
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">1</i>2022北京车展</h3>
								<p align="justify"><strong>2022（第十六届）北京国际汽车展览会（Auto China 2022）将在北京中国国际展览中心新馆和中国国际展览中心老馆举行。</strong></p>

								<p align="justify">
									2022北京车展将使用北京中国国际展览中心新、老两个展馆。中国国际展览中心新馆主要展示国内外乘用车、商用车；中国国际展览中心老馆主要展示国内外汽车零部件及相关产品，并在老馆设专馆举办“第三届北京国际新能源汽车展”，专门展示国内外汽车制造商在新能源汽车设计、制造上的新产品。
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/14.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-pricing">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">2</i>智领未来</h3>
								<p align="justify">
									2022北京车展将以“<strong>智领未来</strong>”为主题，集中展示中外汽车行业当下前沿的技术与产品，聚焦智能网联、轻量化等新技术与传统汽车工业结合所带来的创新展品，多角度向观众呈现全球汽车行业在产品升级、品牌升级、产业升级和出行模式等多方面的创新理念和成果。引导人们对未来汽车生活的美好向往和追求。
								</p>
								<p align="justify">
									作为备受中外汽车界、新闻界推崇的全球顶级汽车展会，30年来，北京车展伴随着中国汽车工业的成长，见证了中国汽车工业与全球汽车工业融合、交流、跨越式发展的历史。在促进中外汽车业界的贸易合作、技术交流、引进国外先进技术等方面起到了积极的推动作用。进入21世纪20年代，在中国汽车工业进入高质量发展的新的历史阶段，北京车展将全景展现中外汽车工业更具魅力的新风采。
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/ykombx.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-our-services">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">3</i>主/承办单位</h3>
								<table class="table table-hover">
									<tr>
										<td rowspan="4"><strong>主办单位：</strong></td>
										<td>中国机械工业联合会</td>
									</tr>
									<tr>
										<td>中国机械工业集团有限公司</td>
									</tr>
									<tr>
										<td>中国国际贸易促进委员会</td>
									</tr>
									<tr>
										<td>中国汽车工业协会</td>
									</tr>
									<tr>
										<td rowspan="4" valign="middle"><strong>承办单位：</strong></td>
										<td>中国国际贸易促进委员会汽车行业分会</td>
									</tr>
									<tr>
										<td>中国机械国际合作有限公司</td>
									</tr>
									<tr>
										<td>中国国际展览中心集团公司</td>
									</tr>
									<tr>
										<td>中国汽车工程学会</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/bywmzq.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-features">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">4</i>日程安排</h3>
								<table class="table table-hover">
									<tr>
										<th colspan="2" scope="col"><strong>2022北京车展的日程安排</strong></th>
									</tr>
									<tr>
										<td>新闻媒体</td>
										<td>9月26日-9月27日</td>
									</tr>
									<tr>
										<td>专业观众参观日</td>
										<td>9月28日-9月30日</td>
									</tr>
									<tr>
										<td>公众参观日</td>
										<td>10月1日-10月5日</td>
									</tr>
									<tr>
										<td>零部件（老馆）</td>
										<td>9月28日-9月30日</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/rpb5bx.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<%- include("./public/page_footer.html")%>
	    <script type="text/javascript" src="/default/js/jquery.min.js"></script>
		<script type="text/javascript" src="/default/js/bootstrap.min.js"></script>
	</body>

</html>