<%- include("./public/page_header.html")%>

	<body id="ios">
		<%- include("./public/page_nav.html")%>
		<div id="fh5co-press">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cat_title">
							<div class="wrapper">
								<div class="to-animate">
									<h2>展会服务</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row set">
					<div class="col-md-6 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">1</i>资料下载</h3>
								<a href="uploads/autochina2022-1.zip" class="list-group-item active"><span class="badge">新</span>2022北京车展招展函下载</a>
								<a href="uploads/autochina2022-2.zip" class="list-group-item active"><span class="badge">新</span>2022北京车展国内企业参展申请表</a>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">2</i>票务信息</h3>
								<a href="index.php?s=/articles_128.html" class="list-group-item"><span class="badge"></span>2022北京车展售票公告</a>
								<a href="index.php?s=/articles_154.html" class="list-group-item"><span class="badge"></span>2022北京车展购票全知道</a>
								<a href="http://service.ciec.com.cn/ciec_sw/modules/register/preRegm/91950/web/zh/n" class="list-group-item"><span class="badge"></span>零部件和新能源汽车展区 观众注册</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-pricing">
			<div class="container">
				<div class="row set">
					<div class="col-md-6 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">3</i>交通信息</h3>
								<a href="index.php?s=articles_136.html" class="list-group-item active">公交</a>
								<a href="index.php?s=articles_132.html" class="list-group-item"><span class="badge"></span>天竺新馆交通信息</a>
								<a href="index.php?s=articles_131.html" class="list-group-item"><span class="badge"></span>静安庄馆交通信息</a>
								<a href="index.php?s=articles_159.html" class="list-group-item">交通管制</a>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">4</i>平面图</h3>
								<a href="index.php?s=/articles_140.html" class="list-group-item "><span class="badge"></span>2022北京车展展位分布图</a>
								<a href="../uploads/28125949292.pdf" class="list-group-item "><span class="badge">静安庄</span>老国展展厅平面图</a>
								<a href="../uploads/18365391.pdf" class="list-group-item "><span class="badge">天竺</span>新国展展厅平面图</a>
								<a href="../uploads/281303834.pdf" class="list-group-item "><span class="badge">静安庄</span>老国展展馆平面图
									<a>
										<a href="../uploads/183734808.pdf" class="list-group-item "><span class="badge">天竺</span>新国展展馆平面图</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-our-services">
			<div class="container">
				<div class="row set">
					<div class="col-md-6 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">5</i>同期活动</h3>
								<a href="index.php?s=/articles_152.html" class="list-group-item active">2022北京车展媒体日发布时间表</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h3 fh5co-press-title"><i class="id">6</i>周边服务</h3>
								<a href="index.php?s=articles_133.html" class="list-group-item">旅游景点</a>
								<a href="index.php?s=articles_130.html" class="list-group-item">酒店住宿</a>
								<a href="index.php?s=articles_135.html" class="list-group-item">医疗机构</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<%- include("./public/page_footer.html")%>
		<script type="text/javascript" src="/default/js/jquery.min.js"></script>
		<script type="text/javascript" src="/default/js/bootstrap.min.js"></script>
	</body>

</html>