<%- include ("../public/page_header.html")%>

<div class="panel panel-default">
    <div class="panel-heading">
        编辑管理员
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/<%=adminPath%>/manager/doEdit" method="post" id="form">
                <input type="hidden" name="id" id="id" value="<%=manager._id%>" />
                <ul>
                    <li> <span>管理员名称:</span> <input type="text" name="username" id="username" value="<%=manager.username%>" readonly/></li>
                    <li> <span>管理员密码:</span> <input type="password" name="password" id="password" /><i>说明：如果密码为空 表示不修改管理员密码</i></li>
                    <li> <span>确认密码:</span> <input type="password" name="rpassword" id="rpassword" /></li>
                    <li> <span>管理员电话:</span> <input type="text" name="mobile" id="mobile" value="<%=manager.mobile%>"/></li>
                    <li> <span>管理员邮箱:</span> <input type="text" name="email" id="email" value="<%=manager.email%>"/></li>
                    <li> <span>状　　态:</span>
                        <input type="radio" name="status" <% if( manager.status ){ %> checked <% } %> value="1" id="a" /> <label for="a">显示</label>
                        <input type="radio" name="status" <% if( !manager.status ) { %> checked <% } %> value="0" id="b" /><label for="b">隐藏</label>
                    </li>
                    <li>
                        <div class="error"> </div>
                        <br />
                        <button type="submit" class="btn btn-default">提交</button>
                    </li>                    
                </ul>
            </form>
        </div>
    </div>
</div>

<script>
    $("#form").submit(function (event) {
        var username = $("#username").val()
        var password = $("#password").val()
        var rpassword = $("#rpassword").val()
        
        // if (username.length == 0) {
        //     $(".error").html("Error:用户名不能为空")
        //     return false
        // }
        // if (password.length < 6) {
        //     $(".error").html("Error:密码长度不能小于6位")
        //     return false
        // }
        if (password != rpassword) {
            $(".error").html("Error:密码和确认密码不一致")
            return false
        }
        $(".error").html("")

        console.log(event);
        return true
    })
</script>

</body>
</html>