<%- include ("../public/page_header.html")%>

<div class="panel panel-default">
    <div class="panel-heading">
        编辑管理员
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/focus/doEdit" method="post" id="form" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="<%=focus._id%>" />
                <ul>
                    <li> <span>分　　类: </span>
                        <select name="type" id="type">
                            <option value="1" <%if(focus.type==1){%>selected<%}%> >网站</option>
                            <option value="2" <%if(focus.type==2){%>selected<%}%> >APP</option>
                            <option value="3" <%if(focus.type==3){%>selected<%}%> >小程序</option>
                        </select>
                    </li>
                    <li>  <span>名　　称:</span> <input type="text" name="title" value="<%=focus.title%>" />
                    </li>
                    <li> <span>跳转地址:</span> <input type="text" name="link" value="<%=focus.link%>" /></li>
                    <li> <span>轮 播 图:</span> <input type="file" name="focus_img" />
                        <br><br>
                        <span></span><img src="/<%=focus.focus_img%>" width="80" />
                    </li>
                    <li> <span>排　　序:</span> <input type="text" name="sort" value="<%=focus.sort%>" /></li>

                    <li> <span>状　　态:</span>
                        <input type="radio" name="status" <% if (focus.status==1){%> checked <%}%> value="1" id="a" /> <label for="a">显示</label>
                        <input type="radio" name="status" <% if (focus.status==0){%> checked <%}%>  value="0" id="b" /><label for="b">隐藏</label>
                    </li>
                    <li>
                        <br/>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

</body>
</html>