<%- include ("../public/page_header.html")%>  

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/<%=adminPath%>/article/add" class="btn btn-primary">增加内容</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr class="th">
                <th>名称</th>
                <th>分类</th>
                <th>图片</th>
                <th>跳转地址</th>
                <th class="text-center">排序</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>