<%- include ("../public/page_header.html")%>

<script type="text/javascript" src="/admin/js/jqPaginator.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/<%=adminPath%>/article/add" class="btn btn-primary">增加内容</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr class="th">
                <th>名称</th>
                <th>分类</th>
                <th>图片</th>
                <th class="text-center">排序</th>
                <th class="text-center">推荐</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
            </tr>
            <%for(var i=0;i<articleList.length;i++){%>
                <tr>
                    <td><%=articleList[i].title%></td>
                    <td>
                        <%=articleList[i].cate[0].title%>
                    </td>
                    <td>
                        <%if(articleList[i].article_img){%>
                            <img src="/<%=articleList[i].article_img%>" width="80" />                      
                        <%}%>
                    </td>
                    <td class="text-center">                        
                        <span class="chSpanNum" data-id="<%=articleList[i]._id%>" data-model="Article" data-field="sort"><%=articleList[i].sort%></span>
                    </td>
                    <td align="center">
                        <%if(articleList[i].is_best==1){%>
                        <img src="/admin/images/yes.gif" class="chStatus" data-id="<%=articleList[i]._id%>" data-model="Article"
                            data-field="is_best" />
                        <%}else{%>
                        <img src="/admin/images/no.gif" class="chStatus" data-id="<%=articleList[i]._id%>" data-model="Article"
                            data-field="is_best" />
                        <%}%>
                     </td>
                    <td align="center">
                        <%if(articleList[i].status==1){%>
                            <img src="/admin/images/yes.gif" class="chStatus" data-id="<%=articleList[i]._id%>" data-model="Article" data-field="status" />
                        <%}else{%>
                            <img src="/admin/images/no.gif" class="chStatus" data-id="<%=articleList[i]._id%>" data-model="Article" data-field="status" />
                        <%}%>
                     </td>
                     <td class="text-center">
                        <a href="/<%=adminPath%>/article/edit?id=<%=articleList[i]._id%>">修改</a>　　
                        <a class="delete" href="/<%=adminPath%>/article/delete?id=<%=articleList[i]._id%>">删除</a>
                    </td>
                </tr>
            <%}%>
        </table>
    </div>
</div>

<div class="pagination" id="pagination"></div>

<script>
    $('#pagination').jqPaginator({
        totalPages: <%=totalPages%>,
        visiblePages: 5,
        currentPage: <%=page%>,
        onPageChange: function (num, type) {
            if(type=="change"){
                location.href="/<%=adminPath%>/article?page="+num;
            }
        }
    })
</script>

</body>
</html>