<ul class="aside">
         		
    <li>
        <h4>管理员管理</h4>
        
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/manager" target="rightMain">管理员列表</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/manager/add" target="rightMain">增加管理员</a></li>
        </ul>
    </li>
    <li>
        <h4>导航管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/nav" target="rightMain">导航列表</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/nav/add" target="rightMain">增加导航</a></li>
        </ul>
    </li>
    <li>
        <h4>轮播图管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/focus" target="rightMain">轮播图列表</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/focus/add" target="rightMain">增加轮播图</a></li>
        </ul>
    </li>
    <li>
        <h4>文章管理</h4>
        
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/articleCate" target="rightMain"> 分类管理</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/article" target="rightMain">内容管理</a></li>
        </ul>
    </li>
                     
    
</ul>		