<header role="banner" id="fh5co-header">
			
    <!-- <div class="row"> -->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="./" id="sh" hidden="hidden"><img src="/default/images/zesql4.png" />2022北京车展</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" data-nav-section="home"><span>首页</span></a>
                </li>
                <li>
                    <a href="overview.html" data-nav-section="press"><span>展会概况</span></a>
                </li>
                <li>
                    <a href="news.html"><span>新闻中心</span></a>
                </li>
                <li>
                    <a href="services.html" data-nav-section="services"><span>展会服务</span></a>
                </li>
                <li>
                    <a href="contact.html" data-nav-section="pricing"><span>联系我们</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- </div> -->			
</header>